spring:
  mvc:
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/catcat?useSSL=false&serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf8&tinyInt1isBit=false&allowPublicKeyRetrieval=true
    username: root
    password: 
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      maximum-pool-size: 6 # 最大连接数
      minimum-idle: 2 # 最小空闲连接数
      idle-timeout: 60000 # 空闲连接超时时间 60秒
      connection-timeout: 5000 # 5秒内未获取到连接则报错
      max-lifetime: 1800000 # 连接最大存活时间为 30 分钟
  thymeleaf:
    cache: false # 开发时关闭缓存，不然看不到实时页面
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  elasticsearch:
    uris: https://localhost:9200
    username: elastic
    password: 0cWka0jVBt4O0wEwFgts

# MyBatis 分页插件
pagehelper:
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql

# JWT 配置
jwt:
  secret: XnpcgH6NWZRJ+77sEAXst0B0BDnOCbF97M08ZdX/OAE=
  expiration: 86400000 # 24小时
#   expiration: 10800000 # 3小时
#   expiration: 30000 # 30秒

# Tomcat 配置
server:
  tomcat:
    max-http-form-post-size: 10485760 # 设置最大上传大小为10MB

# Swagger 和 Knife4j 配置
springdoc:
  group-configs:
    - group: 接口文档
      packages-to-scan: com.qin.catcat.unite.controller
knife4j:
  enable: true
  setting:
    language: zh_cn

# 日志配置
logging:
  level:
    org.springframework.cache: INFO
    root: INFO  # 根日志级别
    com.qin.catcat: INFO  # 项目包的日志级别
    org.springframework: INFO  # Spring框架的日志级别


# 上传的图片存储的位置，部署时需要修改
file:
  upload-dir: E:/01-Codes/JavaCode/catcat-oos/uploads/pics

# 七牛云的配置
qiniu:
  access-key: FvZbXvCH0RyNyxE_8glWs0AJMTos7IvQoXeaWglA
  secret-key: b2CrZvzYP6CtCeHTFUz0qD8RnfXp2uF_wsZPAngE
  bucket: iur-blog
  upload-url: https://cdn.luckyiur.com/catcat/post_pics/





